
# variable

In [1]:
a = 10

In [2]:
a

10

In [3]:
type(a)

int

In [4]:
b = "anoop "

In [5]:
b

'anoop '

In [6]:
type(b)

str

In [7]:
c = 2.3

In [8]:
c

2.3

In [9]:
type(c)

float

In [10]:
d = True
d

True

In [11]:
type(d)

bool

In [12]:
e = " I am anoop "
e

' I am anoop '

In [13]:
type(e)

str

In [14]:
f=''' I am anoop 
        and data scientist '''
print(f)

 I am anoop
        and data scientist

In [15]:
sample ='''
Twinkle, twinkle, little star, 
       How I wonder what you are! 
                Up above the world so high, 
                Like a diamond in the sky.
                
                
Twinkle, twinkle, little star, 
        How I wonder what you are'''

In [16]:
print(sample)

Twinkle, twinkle, little star,
       How I wonder what you are!
                Up above the world so high,
                Like a diamond in the sky.


Twinkle, twinkle, little star,
        How I wonder what you are

In [17]:
x = 5
y = "Jhon"
print("this is x value =",x)
print("this is y value =",y)
x = 4
print("this is x value =",x)

this is x value = 5
this is y value = Jhon
this is x value = 4

In [18]:
x = str(3)
print(" this is x value =  "+x+ " and this is data type = ",type(x))
y = int(3)
print(" this is x value =  ",y, " and this is data type = ",type(y))
z = float(3)
print(" this is x value =  ",z, " and this is data type = ",type(z))

 this is x value =  3 and this is data type =  <class 'str'>
 this is x value =   3  and this is data type =  <class 'int'>
 this is x value =   3.0  and this is data type =  <class 'float'>

In [19]:
x, y, z = "Orange ", "Banana ", "Cherry"
print(x + y + z)

Orange Banana Cherry

In [20]:
x=y=z="Orange "
print(x+y+z)

Orange Orange Orange

In [21]:
fruits = ["apple ","banana ","cherry"]
a,b,c = fruits
print(a+b+c)

apple banana cherry

In [22]:
fruits = ["apple ","banana ","cherry"]
a=b=c = fruits
print(a+b+c)
k = a+b+c
print(k)

['apple ', 'banana ', 'cherry', 'apple ', 'banana ', 'cherry', 'apple ', 'banana ', 'cherry']
['apple ', 'banana ', 'cherry', 'apple ', 'banana ', 'cherry', 'apple ', 'banana ', 'cherry']

In [23]:
x = str(5)
y = "John"
print(x + y)

5John

In [24]:
txt = " Hello World "
txt.strip()

'Hello World'

In [25]:
x = "Python is "
y = "awesome"
z =  x + y
z

'Python is awesome'

In [26]:
x = 5
y = 10
print(x + y)

15

In [27]:
c = 3j
print(type(c))
print(c)

<class 'complex'>
3j

In [28]:
x = range(6)
x

range(0, 6)

In [29]:
x = frozenset({"apple", "banana", "cherry"})
x

frozenset({'apple', 'banana', 'cherry'})

In [30]:
x = b"Hello"
x

b'Hello'

In [31]:
x = bytearray(2)
x

bytearray(b'\x00\x00')

In [32]:
x,y = memoryview(bytes(5)),memoryview(bytes(1))
print(x , y)

<memory at 0x000001FD4A7F91C8> <memory at 0x000001FD4A7F9288>

In [33]:
name = input("Enter your Name :")
print("you had Enter your name is : "+name)

Enter your Name :anoop
you had Enter your name is : anoop

In [36]:
num1 = int(input("Enter first number "))
num2 = int(input("Enter second number "))
add = num1 + num2
print("number first is :", num1 ," number second is :", num2 ," total : ", add)

Enter first number 23
Enter second number 34
number first is : 23  number second is : 34  total :  57

In [37]:
num1 = input("Enter first name ")
num2 = input("Enter last name ")
print("this is first name:"+ num1 +" this is last name:"+ num2 )

Enter first name anoop
Enter last name kumar
this is first name:anoop this is last name:kumar

In [38]:
num1 = input("Enter first name ")
num2 = input("Enter second name ")
num3 = input("Enter last name")
print("your first name is {} and middle name is  {} and last name is {}".format(num1,num2,num3))
print("my full name  is {} {} {}".format(num1,num2,num3))

Enter first name anoop
Enter second name kumar
Enter last nameashware
your first name is anoop and middle name is  kumar and last name is ashware
my full name  is anoop kumar ashware

In [39]:
a = 21
b = 1
c = 2020
print("this is my brithday {}-{}-{}".format(b,a,c))
print("this is my brithday {}-{}-{}".format(c,a,b))
print("this is my brithday {}-{}-{}".format(b,c,a))

this is my brithday 1-21-2020
this is my brithday 2020-21-1
this is my brithday 1-2020-21

In [40]:
x = " "
y = 0

print(bool(x))
print(bool(y))

True
False

In [41]:
j = "hello world"
print(j[0])

h

In [42]:
for x in j:
    print(x)

h
e
l
l
o

w
o
r
l
d

In [43]:
print(len(j))

11

In [2]:
k = " the best things is life is free"
"free" in k
print("free" in k)

True

In [3]:
if "free" in k:
    print(" free is present in this sentance!")

 free is present in this sentance!

In [4]:
print("expensive" in k)

False

In [5]:
if "expensive" not in k:
    print("True,  expensive is not persent in this sentance!")

True,  expensive is not persent in this sentance!

# slicing string

In [6]:
k

' the best things is life is free'

In [49]:
print(k[2:6])

he b

In [50]:
print(k[:6])

 the b

In [51]:
print(k[3:])

e best things is life is free

In [52]:
print(k[:-1])

 the best things is life is fre

In [53]:
print(k[-24:])

t things is life is free

# Sting function

In [54]:
H = k.upper()
print(H)
h = H.lower()
print(h) 
k.strip()

 THE BEST THINGS IS LIFE IS FREE
 the best things is life is free

'the best things is life is free'

In [55]:
k.replace("f","q")

' the best things is liqe is qree'

In [56]:
t = k.split()
print(t)
print(type(t))

['the', 'best', 'things', 'is', 'life', 'is', 'free']
<class 'list'>

# List

In [58]:
a = [1,2,3,4]
print(a)
print(type(a))

[1, 2, 3, 4]
<class 'list'>

In [59]:
b = ['hello', 3,4 ,5.6, 8.3, 5j, "Welcome to my world of Data Science", [1,2,3]]
print(b)
print

['hello', 3, 4, 5.6, 8.3, 5j, 'Welcome to my world of Data Science', [1, 2, 3]]

In [60]:
a = [3,2,5,72,21,68,23,5,73,256,22,56,90]
print(a)
print(a[6])
print(a[9])
print(len(a))
print(a[4:9])

[3, 2, 5, 72, 21, 68, 23, 5, 73, 256, 22, 56, 90]
23
256
13
[21, 68, 23, 5, 73]

In [61]:
example1 = [1,2,3,[4,5,6,[7,8,9,[10,11]]]]
print(len(example1))

4

In [62]:
example1[3][3][3][1]

11

In [63]:
example1[3][3][3][0]

10

In [64]:
example2=[[1,2,3],['anand',['raghav',[7,8,9,0,['aman',['kumar','joe']]]]]]

In [65]:
example2[1][1][1][4][1][1]

'joe'

In [66]:
# Modify the elements in the list
a = [3,2,5,72,21,68,23,5,73,256,22,56,90]
a

[3, 2, 5, 72, 21, 68, 23, 5, 73, 256, 22, 56, 90]

In [67]:
a[12] ='Prashant'

In [68]:
a

[3, 2, 5, 72, 21, 68, 23, 5, 73, 256, 22, 56, 'Prashant']

In [69]:
a[6] =203

In [70]:
a

[3, 2, 5, 72, 21, 68, 203, 5, 73, 256, 22, 56, 'Prashant']

In [71]:
a[2] = 'Nikit'

In [72]:
a

[3, 2, 'Nikit', 72, 21, 68, 203, 5, 73, 256, 22, 56, 'Prashant']

In [73]:
print(73 in a)
print(899 in a)

True
False

# Tuples --- Round Bracket

In [74]:
#Tuples --- Round Bracket
# Tuples are immutable collection

a = (1,2,3,4)
print(a)
print(len(a))
type(a)

(1, 2, 3, 4)
4

tuple

In [75]:
print(a[:])
print(a[1])
print(a[1:3])
print(a[1:4])
print(a[3:5])
print(a[4:6])
print(4 in a)
print(5 in a)

(1, 2, 3, 4)
2
(2, 3)
(2, 3, 4)
(4,)
()
True
False

In [76]:
a[1] = 'Prashant' #Immutable

TypeError: 'tuple' object does not support item assignment

In [77]:
# Set - Curly bracket
# Set is a collection that holds only unique values

a = {1,2,3,4,4,4,4,4,5,5,5,5,5,1,1,1}
a

{1, 2, 3, 4, 5}

In [78]:
print(a)
type(a)

{1, 2, 3, 4, 5}

set

In [79]:
#Set doesnt allow to access elements directly.
#Strategy: Typecast the set into list

list(a)[0:4]

[1, 2, 3, 4]

In [80]:
# Dictionary -- curly bracket
# Data is represented in the for Key,Value pair
#
# key:value
#
# lookup dictionary, lookup table, K,V pairs,  IndexReference Layer

stateAndCapitals = {'Maharashtra' : 'Mumbai',
                   'Goa' : 'Panjim',
                   'Karnataka': 'Bengaluru',
                   'Kerala': 'Trivandrum',
                   'madhay pradhesh': 'Bhopal'}

In [81]:
stateAndCapitals

{'Maharashtra': 'Mumbai',
 'Goa': 'Panjim',
 'Karnataka': 'Bengaluru',
 'Kerala': 'Trivandrum',
 'madhay pradhesh': 'Bhopal'}

In [82]:
type(stateAndCapitals)

dict

In [83]:
#To extract data from dictionary, we need to use key
stateAndCapitals['madhay pradhesh']

'Bhopal'

In [84]:
stateAndCapitals['TamilNadu'] = 'Chennai'

In [85]:
stateAndCapitals

{'Maharashtra': 'Mumbai',
 'Goa': 'Panjim',
 'Karnataka': 'Bengaluru',
 'Kerala': 'Trivandrum',
 'madhay pradhesh': 'Bhopal',
 'TamilNadu': 'Chennai'}

In [86]:
# Python ideally supports 4 statements
# 1. if statement
# 2. if..else statement
# 3. elif ladder
# 4. Ternary Operator

# Used to specify a condition to perform an action

In [87]:
# Comparison Operators
# >          -- Greater than
# <          -- Less than
# >=         -- Greater than equal to 
# <=         -- less than equal to 
# !          -- not
# !=         -- not equal to
# ==         -- equal to

In [88]:
# if statement --- You can pass only one condition
temp = 50
if temp > 30:
    print('high temp')

high temp

In [89]:
if temp < 60 and temp != 60:
    print('low temp')

low temp

In [90]:
if temp == 50:
    print('very high temp')

very high temp

In [91]:
# if ..else statement---- You can have one true condition and one default condition
temp = 20

if temp > 30:
    print("High temp")
else:
    print("low temp")

low temp

In [92]:
temp = 50
if temp > 30 and temp < 40:
     print("High Temp")
elif temp >= 40 and temp < 50:
    print("Bursting Temp")
elif temp >= 50 and temp < 60:
    print("Bursting Temp 1")
elif temp >= 60:
    print("Bursting Temp 2")
else:
    print("Low Temp")

Bursting Temp 1

In [93]:
# Accept a number from the user and print whether the number is EVEN or ODD

#Logic: Number must be divisible by 2 (The remainder must be zero)


number = int(input("Enter your number: "))

if number % 2 == 0:
    print(" even number ")
    print("Give number {} is an even number". format(number))
else:
    print(" odd number ")
    print("Give number {} is an odd number". format(number))

Enter your number: 23
 odd number
Give number 23 is an odd number

In [94]:
#Ternary operator | replacement of ifelse

number = int(input("Enter your number: "))
result =  "even number" if number % 2 == 0 else " odd number"
result

Enter your number: 32

'even number'

In [95]:
number = int(input("Enter your number: "))
result2 = "Given number {} is an Even Number".format(number) if number % 2 == 0 else "Given number {} is an Odd Number".format(number)
result2

Enter your number: 45

'Given number 45 is an Odd Number'

In [96]:
data1 = {'data':[1,2,3,[7,8,9],10,{'city':['mumbai','chennai','Bangalore',{'code':[11,22,33]}]}]}

In [97]:
data1['data'][5]['city'][3]['code'][1]

22

In [98]:
type(data1)

dict

In [99]:
# Logical Operators
#
# and
# or
# not

In [ ]:
#Loan Eligibility Check

# Truth Table (and)
# condition1  condition2  result
#   True        True       True
#   False       True       False
#   True        False      False
#   False       False      False

# For And all conditions must be true

In [102]:
income = 7000
creditScore = 701

if income > 8000 and creditScore > 7000:
    print('Eligible')
else:
    print('Not Eligible')

Not Eligible

In [103]:
income = 7000
creditScore = 701

if income > 8000 or creditScore > 7000:
    print("Eligible")
else:
    print('Not Eligible')

Not Eligible

In [105]:
age = 19
if age >= 18 and age <= 32:
    print("Eligible for IAS exam")
else:
    print("Not Eligible")

Eligible for IAS exam

In [108]:
age = 19
if 18 <= age <= 32:
    print("Eligible for IAS exam")
else:
    print("Not Eligible")

Eligible for IAS exam

In [111]:
k = [1,2,3,[4,5,[6]]]
print(len(k))
print(k[3][1])

4
5

# class 3

In [119]:
data = "Hello \nMy name is Prashant"
print(data)

Hello
My name is Prashant

In [ ]:
#Loops -- Its all about re-iterating the statement multiple times subject to condition
#For loop --- To traverse and perform operation on a collection object !!!

In [120]:
# Range function in python - Allows users to create a range of values and store the same in the form 
# of collection

#range(start_value, upper_bound_value) 
# Where
# upper_bound_value = endvalue + 1

list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# class 3

In [121]:
data = "Hello \nMy name is Prashant"
print(data)

Hello
My name is Prashant

In [ ]:
#Loops -- Its all about re-iterating the statement multiple times subject to condition
#For loop --- To traverse and perform operation on a collection object !!!

In [122]:
# Range function in python - Allows users to create a range of values and store the same in the form 
# of collection

#range(start_value, upper_bound_value) 
# Where
# upper_bound_value = endvalue + 1

list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
list(range(20,31))

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [125]:
collectionObject = list(range(1,11))
collectionObject

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
#How to access each element in the collection
for tempVariable in collectionObject:
     print(tempVariable)

1
2
3
4
5
6
7
8
9
10

In [131]:
#Adding 1 to each number
for tempVariable in collectionObject:
     print(tempVariable+1)

2
3
4
5
6
7
8
9
10
11

In [136]:
#Extract only even numbers from the list
teb = list(range(0,20))
for temvalue in teb:
    if temvalue % 2 == 0:
        print("even number ",temvalue)

even number  0
even number  2
even number  4
even number  6
even number  8
even number  10
even number  12
even number  14
even number  16
even number  18

In [137]:
for temvalue in teb:
    if temvalue % 2 != 0:
        print("odd number ",temvalue)

odd number  1
odd number  3
odd number  5
odd number  7
odd number  9
odd number  11
odd number  13
odd number  15
odd number  17
odd number  19

In [143]:
evenlist=[]
for eve in teb:
    if eve % 2 ==0:
        evenlist.append(eve)

In [144]:
evenlist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [145]:
oddlist=[]
for odo in teb:
    if odo % 2 != 0:
        oddlist.append(odo)
oddlist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [146]:
#Extract only even & odd numbers from the list
evenlist1=[]
oddlist1=[]
for numlist in teb:
    if numlist % 2 == 0:
        evenlist1.append(numlist)
    else:
        oddlist1.append(numlist)

print("even list",evenlist1)
print("odd list",oddlist1)

even list [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
odd list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [161]:
# Question

salaryList = [1000,2000,3000,4000,5000]

#Increment the salary of the employee based on the following condition
# if income is less than 2000 --> 20% hike
# if the income is between 2000 and 4000 --> 10% hike
# if the income is greater than 4000 ---> No hike
updatelist=[]
#if salaryList < 2000:
    
for sal in salaryList:
    print(sal)
    if sal < 2000:
        updatelist.append(sal * 1.2)
    elif sal > 2000 and sal <= 4000:
        updatelist.append(sal * 1.1)
    else:
        updatelist.append(sal)
        
print(updatelist)

1000
2000
3000
4000
5000
[1200.0, 2000, 3300.0000000000005, 4400.0, 5000]

In [164]:
for i in updatelist:
    print("$ {0:.2f}".format(i))

$ 1200.00
$ 2000.00
$ 3300.00
$ 4400.00
$ 5000.00

In [181]:
salaryList = [1000,2000,3000,4000,5000]

#Increment the salary of the employee based on the following condition
# if income is less than 2000 --> 20% hike
# if the income is between 2000 and 4000 --> 10% hike
# if the income is greater than 4000 ---> No hike

#updatedSalary= []
i = 0
for sal in salaryList:   
    if sal < 2000:
        salaryList[i] = sal * 1.2
    elif sal <= 4000:
        salaryList[i] = sal * 1.1
    else:
        salaryList[i]
    i= i+1
    print(i)
print(salaryList)

1
2
3
4
5
[1200.0, 2200.0, 3300.0000000000005, 4400.0, 5000]

In [ ]:
# Functions are reusable codes
# In python there exists two functions:
# 1. Pre-defined Functions -- len, append, print, round, format
# 2. User-defined Functions

In [ ]:
# 1. Pre-defined Functions
list1 = [1,2,3,4]
len(list1)

In [ ]:
# 2. User-defined Functions
# You can create your own functions
# Ideally function creation can have two variations
# 1. Function that can print values
# 2. Function that can return values

In [182]:
# 1. Function that can print values

def greetMe(name):
    print("welcome ",name)    
greetMe("anoop")

welcome  anoop

In [183]:
def loca(city):
    print("city ",city)
loca("bhopal")

city  bhopal

In [184]:
def lan(lang):
    print("lang ",lang)
lan("hindi")

lang  hindi

In [185]:
# 2. Function that can return values
def add(num1, num2):
    return num1 + num2

In [186]:
add(1,2)

3

In [190]:
def sub(num1,num2):
    return num1 - num2
def mul(num1,num2):
    return num1 * num2

In [193]:
print(sub(23,12))
print(mul(23,12))

11
276

In [194]:
def mylen(list2):
    count=0
    for i in list2:
        count += 1
    return count

In [195]:
list2 = [1,2,3,4,5,6]
mylen(list2)

6

In [196]:
# Function Terminologies:
# num1 , num2 ---> Parameters
def add(num1 , num2):
    return num1 + num2

add(3,2) #3,2 --- arguments

5

In [197]:
#Parameters are defined during function creation
#Arguments are defined during function usage

# You can create a function that can hold default argument in the parameter

def add(num1 = 0 ,num2 = 0):
    return num1 + num2
add()

0

In [199]:
add(12)

12

In [200]:
add(12,3)

15

In [ ]:
#You can create a documentation of a function
def add(num1 = 0 ,num2 = 0):
    '''
    Author: Prashant Nair
    Usage: add(num1,num2)
            where num1 -- can be any number
                  num2 -- can be any number
                  
    Examples:
            add(3,2)  returns 5
    '''
    return num1 + num2

In [ ]:
?add

In [ ]:
#Function
def add(n1,n2):
    return n1+n2

In [201]:
add(34,56)

90

In [203]:
#Lambda Expression
#-----------params---return logic
add1 = lambda n1,n2: n1+n2

#Lambda expression cannot have more than one liner logic

In [204]:
add1(3,2)

5

In [1]:
range(1,10)

range(1, 10)

In [4]:
#list(range(1,10))
list(range(10,20))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
lj = []
collection = list(range(1,11))
for li in collection:
    print(li+1)
    lj.append(li+5)

2
3
4
5
6
7
8
9
10
11

In [11]:
lj

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [15]:
for lu in lj:
    if lu%2 ==0:
        print("even number",lu)
    else:
        print("odd number", lu)

even number 6
odd number 7
even number 8
odd number 9
even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15

In [24]:
sal = [1000,2000,3000,4000,5000]
for incre in sal:
    if incre < 2000:
        print('$',incre*1.2)
    elif incre < 4000:
        print('$',incre * 1.1)
    else:
        print('$',incre)

$ 1200.0
$ 2200.0
$ 3300.0000000000005
$ 4000
$ 5000

In [26]:
def greetMe(name):
    print("welcome ",name)

In [27]:
greetMe("anoop kumar")

welcome  anoop kumar

In [28]:
def grtme(name):
    print("how are u",name)

In [35]:
zzz = grtme("kabir")
zzz

how are u kabir

In [40]:
list1 = [1,2,3,4,5,6,7,8]
len(list1)

8

In [41]:
def mylen(list1):
    counter = 0
    for i in list1:
        counter += 1
    return counter

In [43]:
mylen(list1)

8

In [25]:

import sys

In [26]:
print(sys.version)

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]