In [3]:
import numpy as np

In [4]:
'''
Question1:

Write a program to the largest number from the list given below:

listExample1 = [8,9,13,2,3,99,6,7,4,3]

'''

'\nQuestion1:\n\nWrite a program to the largest number from the list given below:\n\nlistExample1 = [8,9,13,2,3,99,6,7,4,3]\n\n'

In [5]:
listExample1 = [8,9,13,2,3,99,6,7,4,3]
print(np.max(listExample1))
print(np.min(listExample1))

99
2

In [ ]:
'''
Question2:

Write a program to sum all the items from the list given below:

listExample2 = [9,8,7,6,5,4,3]

'''

In [12]:
listExample2 = [9,8,7,6,5,4,3]
np.sum(listExample2)

42

In [ ]:
'''
Question3:

Write a program to remove duplicate values from the list given below:

listExample3 = [1,1,1,2,3,44,44,9,9,1,4,44]

'''

In [18]:
listExample3 = [1,1,1,2,3,44,44,9,9,1,4,44]
set(listExample3)

{1, 2, 3, 4, 9, 44}

[1, 2, 3, 44, 9, 4]